@charset "UTF-8";
/* CSS Document */
/*--------------------------------

名称: mod-result.css
クラス: mod-result
用途: リザルトボタンと結果まわり

--------------------------------*/
/*リザルト出力する用のボタン*/
.mod-result {
	margin-top: 20px;
}
.mod-result .buttons {
	display: flex;
	list-style: none;
}
.mod-result .buttons .button {
	width: 100%;
}
.mod-result .buttons .button:not(:first-child) {
	margin-left: 20px;
}
.mod-result .buttons .button .btn {
	display: block;
	background-color: #fff;
	border-radius: 10px;
	text-align: center;
	padding: 15px 0;
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: bold;
}
.mod-result .buttons .button .btn:hover {
	cursor: pointer;
}
.mod-result .buttons .button .btn.is-body {
	border:5px solid #003c88;
	color: #003c88;
}
.mod-result .buttons .button .btn.is-body:hover {
	background-color: #003c88;
	color: #fff;
}
.mod-result .buttons .button .btn.is-face {
	border: 5px solid #ed6103;
	color: #ed6103;
}
.mod-result .buttons .button .btn.is-face:hover {
	background-color: #ed6103;
	color: #fff;
}


/*一部切り取り*/
#kiritori_screen{
	width:400px;
	height:400px;
	position:absolute;
	margin:0 auto 0 auto;
	z-index:3000;
}

/*出力画像用id*/
.screen_image{
	display:block;
	margin:0 auto;
	width:100%;
}

/*ダウンロード処理*/
a#download{
	width:300px;
	height:80px;
	text-align:left;
	background-image:url(images/dl_splite.png);
	background-repeat:no-repeat;
	text-decoration:none;
	margin:40px auto 40px auto;
	display:block;
}
  
  a#download:hover{
	background-position: 0 -80px;
}


button{
	border-style:none;
	background:#fff;
	display:block;
	margin:0px auto 100px auto;
}
#back{
	margin:50px auto 0 auto;
	display:block;
	width:80px;
	height:40px;
}

.mod-result .modal {
	display: none;
}
.mod-result .modal.is-show {
	display: block;
}
.mod-result .modal.animate {
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: .15s;
	animation-fill-mode: forwards;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}


  /* Lightbox で表示させるDIV要素のCSS */
  #lightbox-panel2 {
  -moz-border-radius: 6px;
  background: #fff;
  -webkit-border-radius: 6px;
  -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
  -moz-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
  padding: 40px 80px 80px 80px;
  width: 700px;
  height: 450px;
  position:fixed;
  top:50px;
  left:50%;
  z-index:10;
  border:2px solid #ccc;
  margin-left:-410px;
  }
  
  #lightbox-panel2 h1{
	  margin-bottom:20px;
	  text-align:center;
  }


  #BlackWindow2 {
  background:#000000;
  opacity:0.7;/*黒地の背景の調整はこの数値で調整*/
  filter:alpha(opacity=70);/*黒地の背景の調整はこの数値で調整*/
  position:absolute;
  top:0px;
  left:0px;
  min-width:100%;
  min-height:100%;
  z-index:1;
  	overflow:hidden;
  }

#close-panel2{
	width:300px;
	height:80px;
	text-align:left;
	background-image:url(images/close_splite.png);
	background-position: 0 0;
	text-decoration:none;
	margin:20px auto 30px auto;
	display:block;
}
  
 #close-panel2:hover{
	background-position: 0 -80px;
}

.screenLeft{
	width:300px;
	height:450px;
	float:left;
}

.screenRight{
	width:300px;
	height:450px;
	float:right;
}

.clear{
	clear:both;
}