@charset "UTF-8";
/* CSS Document */
/*--------------------------------

名称: mod-canvas.css
クラス: mod-canvas
用途: キャンバス部分

--------------------------------*/
/*---プレビューの箱---*/
.mod-canvas .radiusBox{
	padding:0;
	width:299px;
	height:450px;
	margin:5px 0 25px;
	border: 5px solid;
	border-color: #ed6103;
	border-radius:10px;
	transform: 0.5;

}

.mod-canvas #bgColorParts{
	background: #ed6103;
}
.mod-canvas .relative {
	position: relative;
	width: 600px;
	height: 900px;
	margin-left: -200px;
	margin-top: -80px;
}
.mod-canvas .relative:after {
  content: ".";  /* 新しいコンテンツ */
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; /* 非表示に */
}
.mod-canvas .canvasSize{
	width: 600px;
	height: 900px;
	position: absolute;
}
.mod-canvas .eyeParts {
	position: absolute;
}

.mod-canvas #targetScreen{
	width:600px;
	height:900px;
}

.mod-canvas .marginchosei{
	margin-left:33.5px;
	margin-top:40px;
}

.mod-canvas #scale{
	transform:scale(0.5);
}