@charset "UTF-8";
/* CSS Document */
/*--------------------------------

名称: mod-partsSelect.css
クラス: mod-partsSelect
用途: レイアウト系

--------------------------------*/

/* タブ */
.mod-partsSelect {
	float: right;
	width: 700px;
}
.mod-partsSelect .selectTabUl {
	overflow:hidden;
	height:auto;
	list-style:none;
	border-bottom:1px solid #ed6103;
	height:50px;
	margin-top:0px;
}
.mod-partsSelect .selectTabLi {
	background-color:#fff;
	float:left;
	display:inline;
	margin-right:0px;
	padding:10px 0px;
	width:62px;
	text-align:center;
	border:4px solid #ed6103;
	border-bottom:none;
	border-radius:15px 15px 0 0;
	height:40px;
	margin-top:5px;
}

.mod-partsSelect .selectTabLi.active {
    background: #ed6103;
    margin-top:0px;
}

.mod-partsSelect .selectTabLi img{
	width:30px;
	height:24px;
}

.mod-partsSelect .selectTabLi:hover{
	background-color: #ed6103;
	margin-top:0px;
	transition: 0.1s ;
	cursor: pointer;
}

/* パーツリストが表示される場所 */
.mod-partsSelect .partsListBox {
    float: right;
    width: 692px;
    height: 480px;
    border: 4px solid #ed6103;
    background: #fff;
    border-radius: 0 0 10px 10px;
    margin-left: 30px;
}

.mod-partsSelect .partsListBox .area {
    display: none;
}
