@charset "utf-8";

.mod-partsList {
    padding: 10px;
}
.mod-partsList .partsList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.mod-partsList .partsList .parts {
    width: 100px;
    height: 100px;
    background-color: #fffdea;
    margin-right: 10px;
}
.mod-partsList .partsList .parts:nth-child(n + 6) {
    margin-top: 10px;
}
.mod-partsList .partsList .parts:hover {
    background-color: #ed6103;
    transform: scale(1.1);
    transition: .2s;
}
